<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Enable</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.shepgoba.folderlistprefs</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enable</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Customization</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.shepgoba.folderlistprefs</string>
			<key>key</key>
			<string>replaceoriginalview</string>
			<key>label</key>
			<string>Replace Original View</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.shepgoba.folderlistprefs</string>
			<key>key</key>
			<string>notificationBadgesEnabled</string>
			<key>label</key>
			<string>Enable Notification Badges</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Sorting Type</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.shepgoba.folderlistprefs</string>
			<key>key</key>
			<string>sortingType</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>Original</string>
				<string>A-Z</string>
				<string>Z-A</string>
				<string>Disk Usage</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>@shepgoba</string>
			<key>action</key>
			<string>openTwitter</string>
		</dict>
	</array>
	<key>title</key>
	<string>FolderList</string>
</dict>
</plist>
